%h3{style: 'margin-bottom: 5px;'}= club.information[:stadium]

%p
	= raw simple_format(club.address)
	%br 
	%small= link_to club.information[:www].gsub(/http:\/\//, ''), club.information[:www], target: '_blank' unless club.information[:www].nil?