%h3 Карта
.white-block.mt20
	= gmaps({"map_options" => {"auto_zoom" => false, "zoom" => 3}, "markers" => {"data" => @json, :options => { :do_clustering => true, :clusterer_maxZoom => 5 }}})
	%strong
		%ul#markers_list