%p 
	In the sport of association football, each of the eleven players on a team is assigned to a particular position on the field of play. A team is made up of one goalkeeper and ten outfield players who fill various defensive, midfield and attacking positions depending on the formation deployed. These positions describe both the player's main role and their area of operation on the pitch.

%p
	In the early development of the game outfield players were known simply as forwards, half-backs and three-quarter-backs, depending on how far up the pitch they played. In the latter part of the 19th century, the 2–3–5 formation became widely used and the position names became more refined to reflect this. In defence, there were full-backs, known as the left-back and right-back; in midfield, left-half, centre-half and right-half; and for the forward line there were outside-left (or left wing), inside-left, centre-forward, inside-right and outside-right (or right wing). As the game has evolved, tactics and team formations have changed and so many of the names of the positions have changed to reflect their duties in the modern game (though some old familiar ones remain). The term "half-back" fell out of use by the early 1970s and "midfield" was used in naming the positions that play around the middle third as in centre midfield and wide midfield. The centre midfield position has evolved further with the attacking midfield and defensive midfield variants being recognised in their own right.
%p
	The fluid nature of the modern game means that positions in football are not as formally defined as in sports such as rugby or American football. Even so, most players will play in a limited range of positions throughout their career, as each position requires a particular set of skills and physical attributes. Footballers who are able to play comfortably in a number of positions are referred to as "utility players".
%p
	However, in Total Football tactics, the players are only loosely defined into a position. This tactic required players who were extremely versatile, such as Johan Cruyff, who could play every position on the pitch apart from goalkeeper.

= semantic_form_for [:admin,	@position] do |f|
	= f.inputs "Основная информация" do
		= f.input :name, label: 'Название'
		= f.input :short, label: 'Сокращенно'
		= f.input :alias, label: 'Английский вариант'
		= f.input :line, label: 'Уровень на поле'
	= f.inputs "Описание" do
		= f.input :description, label: false, input_html: {class: 'redactor'}
	= f.actions