%article
	%h2= @article.title
	.article-image
		- unless @article.youtube.blank?
			= raw VideoInfo.get(@article.youtube).embed_code(:iframe_attributes => { :width => 750, :height => 432 })
		- else
			= image_tag @article.images_uri[:thumb]
			.copy-text= raw "Автор фото: #{@article.image_author}" unless @article.image_author.blank?
	.content.white-block
		.time
			%small= Russian::strftime(@article.created_at, '%H:%M, %A, %d %B')
			%small.source= "Источник: #{@article.author}" unless @article.author.blank?
		%p
			%b= @article.snippet
		= raw @article.text