.nearby-clubs.white-block.mt20
	%h3.title.dark
		.top под
		.bottom прицелом
	.clubs
		- @clubs.each do |club|
			= link_to club, class: 'club' do	
				.image= image_tag club.logo_url(:small)
				.name
					= club.title
					.city= club.city
		- @players.each do |player|
			= link_to player, class: 'club' do	
				.image= image_tag player.photos_uri[:small]
				.name
					= player.name
					.city= player.nickname