.cat.white-block.mt20.feed
	%h3.title.dark
		.top материалы 
		.bottom по категориям
	- if @categories.count > 0
		- @categories.each do |category|
			.root-category
				= link_to '#', class: 'root', data: {id: category.id} do
					= category.title
					%small.pull-right РАЗВЕРНУТЬ
					%small.pull-right.hide СВЕРНУТЬ
				.child-list(data-parent="#{category.id}")
					- category.siblings.each do |sibcat|
						= link_to sibcat.title, category_path(sibcat)
	- else
		К сожалению, похожих материалов нет :(