.club-info-module.white-block.mt20
	%h3.title.dark
		.top= @club.title
		.bottom= @club.city

	.image.text-center= image_tag @club.logos_uri[:big]

	%table.table
		- @club.information.each do |property, value|
			- if value != ''
				%tr
					%th.text-right= I18n.t property, scope: 'club.information'
					%td= value