.nearby-clubs.white-block.mt20
	%h3.title.dark
		.top соседние
		.bottom клубы
	.clubs
		- if @clubs.count > 0
			- @clubs.each do |club|
				= link_to club, class: 'club' do	
					.distance= "#{club.distance.to_i} km"
					.image= image_tag club.logo_url(:small)
					.name
						= club.title
						.city= club.city
		- else
			= "Хм.. Похоже, что '#{@club.title}' находится на необитаемом острове! Либо.. его 'соседей' еще нет в базе данных сайта ;)"