.latest-transfers.white-block.mt20
	%h3.title.dark
		.top последние
		.bottom трансферы
	- if @transfers
		- @transfers.each do |transfer|
			.transfer-block
				= link_to transfer.player do
					.player
						.image= image_tag transfer.player.photos_uri[:small]
						.text-block
							.name= transfer.player.name
							.country= I18n.t transfer.player.country, scope: 'countries'
				.clubs
					.club.tipTip.tip_top{title: "#{transfer.from.title} #{transfer.from.city}"}
						= link_to transfer.from do
							= image_tag transfer.from.logos_uri[:gmaps]
					.arrow
					.club.tipTip.tip_top{title: "#{transfer.to.title} #{transfer.to.city}"}
						= link_to transfer.to do
							= image_tag transfer.to.logos_uri[:gmaps]
				.amount= "#{number_to_human transfer.amount, units: {million: 'млн.', thousand: 'тыс.'}} #{I18n.t transfer.unit, scope: 'money.names'}"
	- else
		К сожалению, трасферы не пользуются популярностью :(