.match-center-module.white-block.mt20
	%h3.title.dark
		.top текущие
		.bottom события
	- @matches.each do |key, matches|
		.competition= key
		%table
			- matches.each do |match|
				= render 'shared/tv/match', match: match, competition_title: 'false'
	- if @matches.count == 0
		На сегодня TV-трансляций пока не запланировано.