.player-info-module.white-block.mt20
	%h3.title.dark
		.top= @player.name
		.bottom= @player.nickname

	.image.text-center
		= image_tag @player.photos_uri[:large]
		= link_to @player.club do
			.team-info
				.club= image_tag @player.club.logos_uri[:small]
				.team
					.top= @player.club.title
					.bottom= @player.club.city
				.number= @player.number

	%table.table
		%tr
			%th.text-right День рождения
			%td
				= Russian::strftime(@player.birthday, '%d %B %Y')
				%span.label.label-default= "#{@player.age} лет"
		%tr
			%th.text-right Рост
			%td= "#{@player.height} см"
		%tr
			%th.text-right Вес
			%td= "#{@player.weight} кг"
		%tr
			%th.text-right Позиция
			%td
				- @player.position.order('line ASC').each do |position|
					%span.label{class: "label-#{Position::POSITION_LABEL[position.line]}"}= position.short
		%tr
			%th.text-right Страна
			%td= I18n.t @player.country, scope: :countries
		%tr
			%th.text-right Номер
			%td= @player.number