.match-center-module.white-block.mt20.feed
	%h3.title.dark
		.top материалы 
		.bottom по теме
	- if @articles.count > 0
		- @articles.each do |key, articles|
			= "#{key} назад"
			- articles.each do |article|
				= link_to category_article_path(article.category, article) do
					%article
						%b.title= article.title
						.content= article.snippet
	- else
		К сожалению, похожих материалов нет :(