= semantic_form_for [:admin,	@club] do |f|
	= f.inputs "Основная информация" do
		= f.input :title, label: 'Название'
		= f.input :alias, label: 'Английский вариант'
		= f.input :emblem, label: 'Логотип', as: :file, hint: f.template.image_tag(f.object.try(:emblem).url(:thumb))
		= f.input :country, priority_countries: %w(UA RU GB IT ES), input_html: {class: "select2", style: 'width: 500px;'}
		= f.input :city, label: false
		= f.input :address
		= f.input :competition, input_html: {class: "select2", style: 'width: 500px;'}

	= f.inputs "Описание" do
		= f.input :snippet, label: false, input_html: {class: 'redactor'}

	= f.inputs "Дополнительные сведения", for: :information do |info|
		- Club::INFORMATION.each do |i|
			= info.input :"#{i}", input_html: { value: f.object.information[:"#{i}"] }
	= f.actions