%h3
.news-chooser
	.main-container
		.col-lg-2.thumb-list
			- @news.each do |n|
				= image_tag n.images_uri[:thumb], data: { id: "#{n.id}" }
		.col-lg-6.large-list
			.news-nav
				- @news.each do |n|
					.news-content{ id: "#{n.id}" }
						= link_to category_article_path(n.category, n) do
							= image_tag n.images_uri[:thumb]
							.info
								%h4= n.title
								%p.hidden-xs= n.snippet

.feed
	- CategoryNew.where(feed: true).each_slice(2) do |categories|
		- categories.each_with_index do |category, index|
			.col-lg-6{ class: "col-#{Article::SIDES[index]}" }
				.mt20.white-block
					%h3.title.dark
						.top= category.parent.title
						.bottom= category.title
					- category.articles.last(10).each do |n|
						= link_to category_article_path(n.category, n) do
							%article
								%b.title= n.title
								.content= n.snippet
		.clearfix
