- @articles.each do |index, articles|
	.feed-day
		.col-lg-3.main-date= Russian::strftime(DateTime.parse(index), '%a, %d %B')
		.col-lg-9
			- articles.each do |article|
				%article.white-block
					.image= image_tag article.images_uri[:small]
					%h4= link_to article.title, category_article_path(article.category, article)
					.block.category
						%span.title Категория
						= "#{article.category.parent.title}.#{article.category.title}"
					- if article.tags.count > 0
						.block.tags
							%span.title Теги
							= article.tag_list
					.snippet= article.snippet

= paginate @articles_arr, left: 3, right: 3, window: 1, remote: true