.navbar.green.navbar-fixed-top{ role: "navigation" }
	.container
		.navbar-header
			%button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			= link_to "FOOTBALL", root_path, class: 'navbar-brand'

		.navbar-collapse.collapse.navbar-responsive-collapse.navbar-ex1-collapse
			%ul.nav.navbar-nav.menu-link
				%li{ class: params[:controller] == 'home' && params[:action] == 'index' ? 'active' : '' }
					= link_to "Главная", root_path, data: {replace: 'true'}
				%li{ class: params[:controller] == 'tv' && params[:action] == 'index' ? 'active' : '' }
					= link_to "TV-трансляции", tv_index_path, data: {replace: 'true'}
				%li{ class: params[:controller] == 'articles' ? 'active' : '' }
					= link_to "Новости", feed_articles_path, data: {replace: 'true'}