%tr{class: "#{match.state_class}"}
	%td.date
		= match.date.strftime('%H:%M')
		.now СЕЙЧАС
	%td.info
		.inset
			%small.competition= match.competition_title
			.clearfx
			.command.home
				= link_to match.home do
					%span.hidden-xs= match.home.title
					= image_tag match.home.logo_url(:small)
			.results - : -
			.command.guest
				= link_to match.guest do
					= image_tag match.guest.logo_url(:small)
					%span.hidden-xs= match.guest.title
			.clearfx
	%td.channel
		- match.channel.each do |channel|
			= image_tag channel.logo_url(:small)