/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap.metro
 *= require modules
 *= require tv
 *= require news
 *= require_tree .
 */

* {
	font-family: "PT Sans Narrow" !important;
	/*font-size: 14px;*/
}

article h4 {
	font-size: 22px;
	line-height: 1;
}

body {
	padding-bottom: 20px;
}
/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	background: #1d1d1d;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	/*border-top-color: #fff;*/
	/*border-top-color: rgba(255,255,255,0.35);*/
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	/*border-bottom-color: #fff;*/
	/*border-bottom-color: rgba(255,255,255,0.35);*/
}

#tiptip_holder.tip_right #tiptip_arrow {
	/*border-right-color: #fff;*/
	/*border-right-color: rgba(255,255,255,0.35);*/
}

#tiptip_holder.tip_left #tiptip_arrow {
	/*border-left-color: #fff;*/
	/*border-left-color: rgba(255,255,255,0.35);*/
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	/*border-top-color: rgba(25,25,25,0.92);*/
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	/*border-bottom-color: rgba(25,25,25,0.92);*/
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	/*border-right-color: rgba(25,25,25,0.92);*/
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	/*border-left-color: rgba(25,25,25,0.92);*/
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		/*background-color: rgba(45,45,45,0.88);*/
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		/*border-bottom-color: rgba(45,45,45,0.88);*/
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		/*border-top-color: rgba(20,20,20,0.92);*/
	}
}