$green: #378624;

.match-center-module {
	.competition {
		font-weight: bold;
		/*text-align: center;*/
		text-transform: uppercase;
		color: #666;
		font-size: 12px;
		margin-bottom: 5px;
		margin-top: 10px;
	}

	table {
		width: 100%;

		tr {
			transition: background .8s ease;
			-webkit-transition: background .8s ease;
			background: transparent;
			cursor: pointer;
			border-bottom: 5px solid #fff;

			&.bordered {
				border-bottom: 5px solid white;
			}

			td {

				&.date {
					background: #444;
					color: #fff;
					width: 60px;
					text-align: center;

					.now {
						display: none;
						font-size: 10px;
					}
				}

				&.info {
					text-align: center;
					padding: 5px;

					.title {
						width: 48%;
						display: inline-block;
						overflow: hidden;
						text-overflow: ellipsis;
						word-break: nowrap;
						white-space: nowrap;
						text-align: center;
					}

					.inset {
						max-height: 50px;
					}

					.competition { display: none; }

					span { display: none!important; }
				}

				&.channel {
					text-align: center;
					width: 55px;
					padding: 5px;
				}
			}


			&.over {
				/*display: none;*/
				/*border: 1px dashed #ccc;*/
				background: #f9f9f9;
				td {
					&.date {
						background: transparent;
						color: #444;
					}

					&.info {
						background: transparent;
						color: #444;
					}

					&.channel {
						background: transparent;
						color: #444;
					}
				}
			}

			&.live {
				td {
					&.date {
						background: $green;
						.now {
							display: block;
						}
					}	
				}
			}
		}
	}
}

.white-block {
	background: #fff;
	/*margin-top: 20px;*/
	padding: 10px;
	box-shadow: 0px 1px 1px #ccc;

	h3 {
		margin: 0;
	}
}

.mt20 { margin-top: 20px !important; }
.mb10 { margin-bottom: 10px !important; }

h3 {
	&.title {
		text-transform: uppercase;
		.top {
			font-size: 17px;
		}

		.bottom {
			font-size: 14px;
		}
	}

	&.dark {
		padding-bottom: 5px;
		background: #444;
		color: #fff;
		margin: -10px;
		padding: 10px;
		margin-bottom: 10px;
		box-shadow: inset 0px -3px 3px -3px rgba(0,0,0,1);
	}
}

#tv-content {
	-webkit-transition: height 0.5s ease;
	overflow: hidden;
}

.root-category {
	margin-bottom: 5px;

	a.root {
		padding: 10px;
		/*margin: 0 -10px;*/
		/*background: #f9f9f9;*/
		/*border-bottom: 1px solid #ddd;*/
		font-size: 16px;
		/*box-shadow: inset 0px -2px 0 -1px #fff;*/
		display: block;
		/*border: 1px solid transparent;*/
		border: 1px solid #eee;
		border-bottom: 0;
		&.active {
			/*background: #f9f9f9;*/
			/*color: $green;*/
			/*border: 1px solid #eee;*/
			/*border-bottom: 0;*/
		}

		small {
			font-size: 10px;
			height: 100%;
			display: block;
			/*height: 44px;*/
			line-height: 24px;
		}
	}

}

.child-list {
	display: block;
	border: 1px solid #eee;
	border-top: 0;
	height: 1px;
	overflow: hidden;
	transition: height .5s ease;
	-webkit-transition: height .5s ease;
	width: 100%;
	/*background: #f9f9f9;*/
	/*padding: 10px;*/
	/*display: none;*/

	a {
		display: block;
		padding: 10px;

		&:hover {
			background: #eee;
		}
	}
}

.club-info-module {
	table {
		margin-top: 20px;
		
		th {
			width: 35%;
		}

		td {
			width: 65%;
		}
	}
}

.nearby-clubs {
	.club {
		width: 24%;
		text-align: center;
		display: inline-block;
		padding: 5px 0;
		color: #444;
		position: relative;
		transition: color .5s ease, background .5s ease;
		-webkit-transition: color .5s ease,background .5s ease;

		.name {
			margin-top: 5px;
			font-size: 13px;
			line-height: 1;
		}

		* div {
			text-overflow: ellipsis;
			width: 100%;
			overflow: hidden;
			font-size: 11px;
			white-space: nowrap;
		}

		&:hover {
			background: #eee;
			text-decoration: none;
			color: #111;
		}

		.image {
			height: 50px;
			line-height: 50px;
		}

		.distance {
			position: absolute;
			right: 0;
			background: #eee;
			color: #444;
			padding: 0px 4px;
			border-radius: 0;
			top: 0;
			font-size: 12px;
		}
	}
}

.player-info-module {
	a {
		color: #444;

		&:hover {
			color: #111;
		}
	}

	.image {
			position: relative;
		.team-info {
			position: absolute;
			/*left: 5px;*/
			bottom: 5px;
			display: block;
			/*border: 1px solid lightgray;*/
			height: 60px;
			background: rgba(255, 255, 255, .8);
			width: 100%;

			.club {
				float: left;
				height: 60px;
				padding: 5px;
			}

			.team {
				float: left;
				font-size: 20px;
				text-align: left;
				height: 60px;
				padding: 5px 20px 5px 5px;

				.top {
					line-height: 1;
					height: 18px;
					margin-top: 6px;
				}

				.bottom {
					font-size: 15px;
					height: 30px;
				}
			}

			.number {
				float: left;
				/*display: inline-block;*/
				font-size: 30px;
				line-height: 50px;
				height: 58px;
				padding: 5px 10px;
				/*background: #efefef;*/
				position: absolute;
				right: 0;
			}
		}
	}
}

.label {
	border-radius: 0;
}

/* latest transfers */
.latest-transfers {
	a {
		color: #333;

		&:hover {
			color: #333;
		}
	}

	.transfer-block {
		position: relative;
		height: 60px;
		margin-bottom: 10px;

		.player {
			.image {
				width: 50px;
					height: 50px;
					float: left;
			}
			.text-block {
				display: inline-block;
				height: 50px;
				line-height: 1;
				padding: 11px 0 0 5px;

				.name {
					font-size: 22px;
					line-height: 1;
				}
				.country {
					color: #666;
				}
			}
		}

		.clubs {
			position: absolute;
			top: 0;
			right: 0;
			width: 90px;
			display: table;
			height: 50px;
			background: #eee;
			padding: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;

			.club {
				width: 32px;
				float: left;
				text-align: center;
			}

			.arrow {
				&:after {
					content: '→';
					width: 15px;
					height: 10px;
					display: block;
					float: left;
					color: #666;
					line-height: 32px;
					/*font-weight: bold;*/
					font-size: 15px;
				}
			}
		}

		.amount {
			width: 90px;
			position: absolute;
			top: 40px;
			right: 0;
			height: 20px;
			text-align: center;
			background: #666;
			color: #fff;
			line-height: 1;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			text-shadow: 0px 1px 0 rgba(0,0,0,.4);
			box-shadow: inset 0px 2px 3px -2px rgba(0,0,0,.8);
			line-height: 20px;
			font-size: 13px;
			text-rendering: optimizeLegibility;
		}
	}
}