$green: #378624;

.news-chooser{
	/*display: table;*/
	// width: 100%;
	// display: block;
	.col-lg-2 {
		width: 25%;
	}

	.col-lg-6 {
		width: 75%;
	}

	.news-content {
		position: relative;
		width: 100%;
		
		img {
			width: 100%;
		}

		.info {
			display: block;
			background: rgba(0,0, 0, 0.8);
			padding: 10px;
			width: 100%;
			position: absolute;
			color: #fff;
			bottom: 0;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			right: 0;
			p {
				margin-bottom: 0;
			}

			h4 {
				font-weight: bold;
				margin: 5px 0;
				font-size: 24px;
				font-weight: normal;
			}
		}
	}

	.thumb-list {
		padding: 5px 0;
		background: #eee;
		// width: 195px;
		/*max-height: 330px;*/
		float: left;

		img {
			width: 100%;
			padding: 4px 10px;
			cursor: pointer;
		}
	}

	.large-list {
		padding: 0;
		position: relative;
		// width: 585px;
		// float: left;

		.news-content {
			position: absolute;
		}
	}
}

@media (max-width: 992px) {
	.news-chooser {
		margin: 0 -15px;
		.thumb-list {
			width: initial;
			float: initial;
			text-align: center;

			img {
				width: 32%;
				padding: 6px 3px;
			}
		}

		.large-list {
			width: initial;
			float: initial;
		}
	}

	.col-left {
		padding: 0;
	}

	.col-right {
		padding: 0;
	}

	.feed-day {
		.main-date {
			width: 100%;
		}
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.news-chooser {
		width: 100%;
		display: table;
		background: #eee;
		padding: 10px;
		.main-container {
			display: table;
			margin: 0 auto;
		}
		.thumb-list {
			width: 195px;
			float: left;
			padding: 0;

			img {
				padding: 0 5px 6px 1px;
			}
		}

		.large-list {
			width: 585px;
			float: left;
		}
	}
	
	.col-left {
		padding: 0;
	}

	.col-right {
		padding: 0;
	}
}

.feed {
	a {
		color: #444;

		article {
			padding: 10px;
			/*background: #eee;*/
			margin: 0 0 10px 0;
			-webkit-transition: background .5s ease;
			transition: background .5s ease;
			font-size: 15px;

			&:hover {
				background: #eee;
			}
		}

		&:hover {
			text-decoration: none;
		}
	}
	

	h4 {
		&.title {
			text-transform: uppercase;
			background: #444;
			padding: 10px;
			color: #fff;
			font-weight: bold;
			font-size: 12px;
		}
	}
}

.col-left {
	padding-left: 0;
}

.col-right {
	padding-right: 0;
}

.feed-day {
	margin-bottom: 20px;
	display: table;
	/*border-bottom: 1px dotted #666;*/
	padding-bottom: 10px;
	width: 100%;

	.main-date {
		font-size: 18px;
		text-transform: uppercase;
		width: 25%;
		padding: 0;
	}

	.col-lg-9 {
		padding: 0;
	}

	article {
		display: table;
		margin-bottom: 15px;
		width: 100%;

		.image {
			width: 200px;
			float: left;
			margin: 0 10px 10px 0;

			img {
				width: 100%;
			}
		}

		a {
			color: #666;
			&:hover {
				color: $green;
				text-decoration: none;
			}
		}

		h4 {
			margin-top: 0;
		}

		.snippet {
			/*padding: 10px;*/
			/*background: #eee;*/
			margin-top: 10px;
			clear: both;
		}

		.block {
			font-size: 14px;
			/*white-space: nowrap;*/
			/*text-overflow: ellipsis;*/
			/*overflow: hidden;*/
			line-height: 1.7;
			margin-bottom: 2px;

			/*text-transform: uppercase;*/
			/*background: #eee;*/
			/*clear: both;*/
			/*margin-left: 160px;*/
			padding: 0 5px;


			span {
				&.title {
					margin: -5px 0 0 -5px;
					padding: 3px 6px;
					background: #333;
					color: #fff;
					text-transform: uppercase;
					font-size: 12px;
				}
			}
		}
	}
}

article {
	font-size: 15px;
	img {
		width: 100%;
		/*margin: 10px 0;*/
	}

	h2 {
		/*margin-top: 0;*/
	}

	.time {
		margin-bottom: 15px;
		border-bottom: 2px solid;
		padding-bottom: 5px;
		color: #aaa;
		text-transform: uppercase;
		.source {
			float: right;
		}
	}

	.article-image {
		position: relative;
		.copy-text {
			position: absolute;
			bottom: 5px;
			right: 5px;
			color: #fff;
			font-size: 13px;
			background: rgba(0,0,0,.6);
			padding: 2px 10px;
		}
	}
}

p {
	font-size: 15px;
}