$green: #378624;

table {
	&.tv {
		width: 100%;
		margin-bottom: 30px;

		td {
			a {
				display: block;
				color: #444;
				padding: 10px 5px;
				background: rgba(0,0,0,.05);
				text-align: center;
				transition: background .8s ease;
				-webkit-transition: background .8s ease;

				span {
					font-size: 18px;
				}

				&:hover {
					text-decoration: none;
					background: #ccc;
				}
			}

			&.active {
				a {
					background: $green;
					color: #fff;
				}
			}
		}
	}

	&.tv-list {
		width: 100%;

		tr {
			border-bottom: 5px solid #fff;

			td {
				a {
					text-decoration: none !important;
					color: #444;

					&:hover {
						color: #000;
					}
				}

				padding-top: 5px;
				/*border: 1px solid #ccc;*/

				&.date {
					width: 60px;
					text-align: center;
					background-color: #eee;
					font-weight: bold;
					font-size: 16px;

					.now {
						display: none;
					}
				}

				&.info {
					text-align: center;

					.competition {
						/*font-weight: bold;*/
						text-transform: uppercase;
					}
				}

				&.channel {
					width: 50px;
					text-align: right;
				}
			}
		}
	}
}

.tab-pane {
	.no {
		// font-weight: bold;
		font-size: 16px;
		text-align: center;
		color: #666;
		text-transform: uppercase;
	}
}

.command {
	display: inline-block;
	// width: 50px;
	height: 50px;

	&.home {
		text-align: right;
		padding: 0 5px 0 0;
	}

	&.guest {
		text-align: left;
		padding: 0 0 0 5px;
	}

	&.home, &.guest {
		span {
			display: inline-block !important;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			text-align: center;
			padding: 0 20px;
			font-size: 20px;
			height: 50px;
			line-height: 50px;
		}
	}
}

.results {
	display: inline;
	height: 50px;
	font-weight: bold;
	font-size: 17px;
	color: #777;
}

@media (max-width: 768px) {
	.command {
		&.home, &.guest {
			span {
				display: none !important;
			}
		}
	}
}