%h3 Расписание на эту неделю

%table.tv.nav-table{data: {content: '#tv-content'}}
	%tr
		- @days_arr.each do |day|
			- date = Date.parse(day)
			%td{class: day == Date.today.strftime('%Y-%m-%d') ? 'active' : '', data: {disabled: @matches["#{day}"].nil? ? 'true' : 'false' }}
				= link_to "##{day}" do
					%span= "#{Russian::strftime(date, "%a")}"
					= "#{Russian::strftime(date, "%d.%m")}"


#tv-content.white-block
	- @days_arr.each do |day|
		.tab-pane{ id: day, class: day == Date.today.strftime('%Y-%m-%d') ? '' : 'hide' }
			- if @matches["#{day}"].nil?
				.no Нет матчей на выбранную дату
			- else
				%table.tv-list
					- @matches["#{day}"].each do |match|
						= render 'shared/tv/match', match: match