!!!
%html
	%head
		%title Football
		%link{:href => "http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,400italic,700&subset=cyrillic-ext,latin-ext", :rel => "stylesheet", :type => "text/css"}/
		= stylesheet_link_tag    "application", :media => "all"
		= stylesheet_link_tag 'gmaps4rails'
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		.container
			= render partial: 'shared/layout/nav'
		.container
			.row
				.col-lg-8{ role: 'content' }= yield
				.col-lg-4
					.modules
						= club_info
						= player_info
						= categories
						= articles_clubs
						= sidebar_matches_module
						= last_transfers
						= related_materials
						= clubs_near

	= yield :scripts